@model IQueryable<ServiceItem>

@{ 
    string strTitle = "Панель Администратора";
    ViewBag.Title = strTitle;
}
<div>
    <h1>@strTitle</h1>
    <div>
        <h3>Наши услуги</h3>
        <div class="div-box">
            <a asp-area="Admin" asp-controller="ServiceItem"  asp-action="Edit" asp-route-id="">Добавить услугу</a>
        </div>
        @if (Model.Any())
        {
            <div>
                @foreach (ServiceItem entity in Model)
                {
                    <div>
                        <a asp-area="Admin" asp-controller="ServiceItem" asp-action="Edit" asp-route-id="@entity.ID"></a>
                        |
                        <form style="display:inline-block;" id="form-@entity.ID" asp-area="Admin" asp-controller="ServiceItem" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@entity.ID" />
                            <a href="#" onclick="document.getElementById('form-@entity.ID').submit();">удалить</a>
                        </form>
                        |
                        <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.ID">
                            @($"{entity.Title}")
                        </a>
                    </div>
                }
            </div>
        }
    </div>
    <div class="div-box">
        <h3>Редактировать страницы сайта</h3>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageIndex">Главная</a>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageServices">Наши услуги</a>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageContacts">Контакты</a>
    </div>
    <div class="div-box">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit"  value="Выйти" />
        </form>
    </div>
</div>
